body {
  font-family: Verdana;
  background-size: contain;
  text-align: center;
  background-color: black;
}
h1 {
  font-weight: Normal;
  font-size: 50px;
  Color: White;
}
.Imagewrap1 {
  font-size: 42px;
  font-weight: 300;
  color: white;
  margin: 20px 20px;
}
.Imagewrap2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
  margin: 20px 20px;
}
.phone {
  margin: 20px;
}
.footer {
  text-align: right;
  font-size: 21px;
  Color: grey;
}
